*{
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://sachhay24h.com/uploads/images/2019/10/29/14/nhung-cau-noi-hay-ve-gia-dinh-1_600x334.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 70px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 100px;
}
p{
    color: rgb(255, 255, 255);
    font-size: 11px;
    line-height: 20px;
}

button{
    width: 200px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 25px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px 20px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(https://scontent.fsgn5-12.fna.fbcdn.net/v/t1.15752-9/287063181_728569621555432_218764561992361288_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=epAVxVnMwg8AX-KdgEu&_nc_ht=scontent.fsgn5-12.fna&oh=03_AVIQv4kxADuutdAEENb6WLJ29xrfxIac5CP7nqOviyrBjw&oe=62D27AF4);
}
.card2{
    background-image: url(https://scontent.fsgn5-12.fna.fbcdn.net/v/t1.15752-9/285004220_346586230833498_6170127809208512162_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=vIxAHtMgA90AX-gEBkm&tn=bgMUEorDJpceRdBw&_nc_ht=scontent.fsgn5-12.fna&oh=03_AVLMVeRpft7O4JW_AFE75Cr-UarIldP8AG8Cgy6IbYlW4g&oe=62D1E96E);
}
.card3{
    background-image: url(https://scontent.fsgn5-10.fna.fbcdn.net/v/t1.15752-9/285020745_1706914299657034_5314861095023629392_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_ohc=oyG3SpspdH4AX8Gt1sj&_nc_ht=scontent.fsgn5-10.fna&oh=03_AVIit5-lNKIEplHcWVoADY-Q6YsOq4RK1PE9xmrVl8Uo8Q&oe=62D2BC01);
}
.card4{
    background-image: url(https://scontent.fsgn5-10.fna.fbcdn.net/v/t1.15752-9/284445361_393181152770695_3967244221347388374_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_ohc=TguFCxCkE0EAX8Yryw3&tn=bgMUEorDJpceRdBw&_nc_ht=scontent.fsgn5-10.fna&oh=03_AVLdV-uAcLlsxSILxHMjUIeaXdeaJzewJESli84Hi5U2Yg&oe=62D17DE2);
}
.card:hover{
    transform:translateY(-10px);
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 15px   #000;
    font-size: 8px;
}
